name: Docker Image CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - id: string
        uses: ASzc/change-string-case-action@v1
        with:
          string: ${{ github.event.repository.name }}

      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: chunwarayut/${{ steps.string.outputs.lowercase }}:latest
          build-args: |
            DATABASE_URL=${{ secrets.DATABASE_URL }}

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - id: string
        uses: ASzc/change-string-case-action@v1
        with:
          string: ${{ github.event.repository.name }}

      - name: SSH Command docker pull
        uses: D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{ secrets.SERVER_HOST }}
          user: ${{ secrets.SERVER_USER }}
          private_key: ${{ secrets.SSH_KEY }}
          command: docker pull chunwarayut/${{ steps.string.outputs.lowercase }}:latest

      - name: SSH Command docker stop
        uses: D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{ secrets.SERVER_HOST }}
          user: ${{ secrets.SERVER_USER }}
          private_key: ${{ secrets.SSH_KEY }}
          command: docker stop ${{ steps.string.outputs.lowercase }} || true

      - name: SSH Command docker rm
        uses: D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{ secrets.SERVER_HOST }}
          user: ${{ secrets.SERVER_USER }}
          private_key: ${{ secrets.SSH_KEY }}
          command: docker rm ${{ steps.string.outputs.lowercase }} || true

      - name: SSH Command docker run
        uses: D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{ secrets.SERVER_HOST }}
          user: ${{ secrets.SERVER_USER }}
          private_key: ${{ secrets.SSH_KEY }}
          command: |
            docker run --name ${{ steps.string.outputs.lowercase }} \
              --label io.portainer.accesscontrol.teams=discord \
              --restart=always -d \
              -p 7073:3000 \
              -e DATABASE_URL="${{ secrets.DATABASE_URL }}" \
              -e JWT_SECRET="${{ secrets.JWT_SECRET }}" \
              -e PUSHER_APP_ID="${{ secrets.PUSHER_APP_ID }}" \
              -e PUSHER_KEY="${{ secrets.PUSHER_KEY }}" \
              -e PUSHER_SECRET="${{ secrets.PUSHER_SECRET }}" \
              -e PUSHER_CLUSTER="${{ secrets.PUSHER_CLUSTER }}" \
              -e NEXT_PUBLIC_PUSHER_KEY="${{ secrets.NEXT_PUBLIC_PUSHER_KEY }}" \
              -e NEXT_PUBLIC_PUSHER_CLUSTER="${{ secrets.NEXT_PUBLIC_PUSHER_CLUSTER }}" \
              -e CLOUDFLARE_ACCOUNT_ID="${{ secrets.CLOUDFLARE_ACCOUNT_ID }}" \
              -e CLOUDFLARE_API_TOKEN="${{ secrets.CLOUDFLARE_API_TOKEN }}" \
              -e CLOUDFLARE_IMAGES_ACCOUNT_HASH="${{ secrets.CLOUDFLARE_IMAGES_ACCOUNT_HASH }}" \
              --memory=512m --memory-swap=512m --cpus=1.5 \
              --log-opt max-size=10m --log-opt max-file=3 \
              chunwarayut/${{ steps.string.outputs.lowercase }}:latest

      - name: SSH Command docker image prune
        uses: D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{ secrets.SERVER_HOST }}
          user: ${{ secrets.SERVER_USER }}
          private_key: ${{ secrets.SSH_KEY }}
          command: docker image prune -a -f

      - name: SSH Command docker logs
        uses: D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{ secrets.SERVER_HOST }}
          user: ${{ secrets.SERVER_USER }}
          private_key: ${{ secrets.SSH_KEY }}
          command: docker logs --timestamps --since=1h ${{ steps.string.outputs.lowercase }}
